.bg-light {
    background-color: #DADADA;
}

.bg-primary {
    background-color: #2ECC71;
}

.bg-main {
    background-color: #F4F4F4;
}

.text-normal {
    color: #666;
}

.text-header {
    color: #333;
}
